body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(34, 7, 7);
}

h1 {
    font-size: 16rem;
    font-family: 'Dancing Script', cursive;
}

.letter {
    transition: color 1000ms;
}